.calcButtonsContainer button {
  width: 5vw;
  border-radius: 50%;
  border: none;
}

.button-0 {
  width: 10vw !important;
  border-radius: 35% !important;
}

button {
  background-color: rgb(70, 78, 93);
  color: white;
}

.calculator-container {
  display: flex;
  background-color: black;
  border: 0.4vw solid gray;
  width: 25vw;
  margin: 0 auto;
  margin-top: 13vh;
  border-radius: 2vw;
  box-shadow: 15px 20px 20px gray !important;
}
.calcButtonsContainer {
  width: 25vw;
  height: 50vh;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  justify-content: center;
  margin-top: 14vh;
  padding-bottom: 5vh;
}

.text-box {
  position: absolute;
  margin-left: 0.5vw;
  /* background-color: yellow; */
  width: 24vw;
  text-align: right;
  padding: 2vh;
  /* border: 2px solid black; */
  color: white;
  margin-top: 1vh;
  font-size: 6vh;
  overflow-x: scroll;
}

.text-box::-webkit-scrollbar {
  display: none;
}

.operations-button {
  background-color: rgb(241, 163, 60);
  color: white;
}

.top-buttons {
  background-color: rgb(223, 223, 223);
  color: rgb(70, 78, 93);
}

.operations-button-selected {
  background-color: white;
  color: rgb(241, 163, 60);
}
