.article-link {
  text-decoration: none !important;
  color: inherit !important;
}

.top-news-container {
  display: flex;
  margin: 1vw;
}

.top-news-container:hover h2 {
  color: rgb(49, 108, 244);
}

.top-news-details {
  display: block;
  padding: 1vw;
  /* background-color: rgba(184, 184, 184, 0.2); */
}

.top-news-time-and-author {
  align-self: flex-end !important;
  /* line-height: 0.8vh; */
}

.news-cards-container {
  display: flex !important;
  flex-direction: row !important;
  margin: 1vw !important;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.news-cards-container::-webkit-scrollbar {
  display: none;
}

.individual-cards {
}

.individual-cards:hover {
  color: rgb(49, 108, 244);
}

.article-page-container {
  display: flex;
}

.article-showing-container {
  margin: 2vw;
  width: 70%;
  /* background-color: green; */
}

.article-showing-details {
  margin-top: 2vw;
}

.stocks-news-container {
  margin-top: 2vw;
  margin-right: 2vw;
  width: 35vw;
}

.go-back-button {
  position: fixed;
  margin-top: 0.5vw;
  margin-left: 93.3vw;
}
