.navbar-nav,
.me-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: flex-end;
}

.cards-container {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 60px;
  justify-content: center;
  margin-top: 8vh;
  padding-bottom: 5vh;
}

.card {
  width: 20vw;
  border: none !important;
}

.app-image {
  width: 20vw;
}

.app-image:hover {
  box-shadow: 10px 10px 10px 10px gray;
}

a {
  text-decoration: none !important;
}
